<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>login</title>
    <link href="/css/main.css" rel="stylesheet" />
    <script>
        console.log(1);
    </script>
    <script type="text/javascript" src="/js/2.js"></script>
</head>
<body>
错误信息：<h4 th:text="${msg}"></h4>
<form action="" method="post">
    <table class="table">
    <p>账号：<input type="text" name="username" value="admin"/></p>
    <p>密码：<input type="text" name="password" value="123456"/></p>
    <p><input type="submit" value="登录"/></p>
    </table>
</form>
<img src="http://localhost:8080/image/timg.jpg">
</body>
</html>